#carousel-button {
    color: black;
}

.center {
    display: block;
    margin: auto;
    width: 100%;
}

div#about{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#about {
    text-align: center;
}

#user-profile {
    border: 1px lightgrey solid;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.cert {
    border: 1px lightgrey solid;
}

.cert-img {
    width: 100%;
}

.cert-name {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

#user-image {
    margin: auto;
    width: 75%;
}

#user-image-small, #pfp-small {
    width: 32px;
    height: 32px;
}

#user-info {
    float: right;
    width: 400px;
    padding: 50px;
    font-size: 12pt;
    text-align: left;
}

#info-headers {
    font-size: 16pt;
}

#user-image-edit {
    float: left;
    padding: 10px;
}

#carouselExampleIndicators {
    width: 65%;
    height: 65%;
}

#accordionExample {
    width: 700px;
}

#certs {
    margin-left: 200px;
    margin-right: 200px;
}